name: Sync to Hugging Face
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install HF Hub
        run: pip install huggingface_hub
      - name: Upload to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          huggingface-cli upload compendious/EMNIST-OCR . . \
            --repo-type=space \
            --token=$HF_TOKEN
